<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Text Image Captcha Solver</title>
</head>
<body>
    <div class="container">
        <div class="heading"><h1 style="font-size: 5rem">Text image captcha solver</h1></div>
        <div class="search">
            <div class="row">
                
                <div class="col">
                    <div class="search-1">
                        <!-- <i class='bx bx-search-alt'></i> -->
                        <form action="/" method="post">
                            <input type="url" name="urla" placeholder="Paste the link to text-image-captcha here!">
                            <button type="submit" name="button">Get!</button>
                        </form>
                        
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div>
                        <div class="search-2">
                            <i class='bx bxs-map'></i>
                            <input type="text" placeholder="San Francisco,USA">
                           
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>
